.principal{
    --background: transparent;
    width: 600px;
    height: 600px;
    margin-top: 71px;
    overflow-y: scroll;   
}
.principal::-webkit-scrollbar {
    display: none;
}
.row{
    text-align: center;
    width: 600px;
    height: 65px;
    margin-bottom: 39px;
}
.btnEstudiante{
    width: 574px;
    height: 65px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;       
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #5F659C;    
}