.principal{
    width: 574px;
    height: 696px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;     
}
.content{
    --background-color: transparent;
    width: 474px;
    height: 596px;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px; 

}
.btnEstudiante{
    width: 574px;
    height: 65px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;        
}