<div class="principal">
  <ion-grid>
    <ion-row class="imagenes">
      <ion-col>
        <div class="sujeto">
          <ion-avatar class="imagenSujeto">
            <ion-img id="sujeto" src={{subcategoryOneData.imagenSujeto}}></ion-img>
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col>
        <div class="verbo">
          <div>
            <ion-img id="verbo" src={{subcategoryOneData.imagenVerbo}}></ion-img>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="predicado">
          <ion-avatar class="imagenPredicado">
            <ion-img id="predicado" src={{subcategoryOneData.imagenPredicado}}></ion-img>
          </ion-avatar>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-img src="assets/svg/semantics/categories-view/trayectoria.svg" class="trayectoria"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="semantica">
          <ion-label class="palabras">{{subcategoryOneData.sujeto}}</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div class="semantica">
          <ion-label class="palabras">{{subcategoryOneData.verbo}}</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div class="semantica">
          <ion-label class="palabras">{{subcategoryOneData.predicado}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
