<div class="principal">
    <ion-grid>
        <ion-row class="rowSilaba">
            <ion-col cdkDrop>
                <ion-segment-button fill="round" class="silaba">{{silaba1}}</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button fill="round" class="silaba">{{silaba2}}</ion-segment-button>
            </ion-col>
        </ion-row>
        <ion-row class="row" cdkDropList>
            <ion-col >
                <!--SECCION SILABA 1-->
                <div style="position: relative;" cdkDrag>
                    <div style="position: absolute; left: 0px; top: 0px;">
                        <ion-avatar>
                            <ion-img src={{palabra1.imagen}} class="imagen"></ion-img>
                        </ion-avatar>
                    </div>
                    <div style="position: absolute; left: 0px; right: 120px; top: 126px;">
                        <ion-segment-button value={{palabra1.audio}} class="btnPlay" (click)="playAudio($event)">
                            <ion-icon src="assets/icon/play.svg"></ion-icon>
                        </ion-segment-button>
                    </div>
                  </div>
            </ion-col>
            <ion-col>
                <!--SECCION SILABA 2-->
                <div style="position: relative;" cdkDrag>
                    <div style="position: absolute; left: 0px; top: 0px;">
                        <ion-avatar class="imagen">
                            <ion-img src={{palabra2.imagen}}></ion-img>
                        </ion-avatar>
                    </div>
                    <div style="position: absolute; left: 0px; right: 120px; top: 126px;">
                        <ion-segment-button value={{palabra2.audio}} class="btnPlay" (click)="playAudio($event)">
                            <ion-icon src="assets/icon/play.svg"></ion-icon>
                        </ion-segment-button>
                    </div>
                  </div>              
            </ion-col>  
            <ion-col>
                <div style="position: relative;" cdkDrag>
                    <div style="position: absolute; left: 0px; top: 0px;">
                        <ion-avatar>
                            <ion-img src={{palabra3.imagen}} class="imagen"></ion-img>
                        </ion-avatar>
                    </div>
                    <div style="position: absolute; left: 0px; right: 120px; top: 126px;">
                        <ion-segment-button value={{palabra3.audio}} class="btnPlay" (click)="playAudio($event)">
                            <ion-icon src="assets/icon/play.svg"></ion-icon>
                        </ion-segment-button>
                    </div>
                  </div>             
            </ion-col>                   
        </ion-row>
    </ion-grid>
</div>
