<div class="principal">
    <ion-grid>
        <ion-row class="rowSilaba">
            <ion-col cdkDrop>
                <ion-segment-button fill="round" class="silaba">{{silaba1}}</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button fill="round" class="silaba">{{silaba2}}</ion-segment-button>
            </ion-col>
        </ion-row>
        <ion-row class="row" cdkDropList>
            <ion-col >
                <div style="position: relative;" cdkDrag>
                    <div style="position: absolute; left: 0px; top: 0px;">
                        <ion-img src="assets/img/fonemas/game-panel/mama.png" class="imagen"></ion-img>
                    </div>
                    <div style="position: absolute; left: 0px; right: 120px; top: 126px;">
                        <ion-segment-button value="audio1" class="btnPlay" (click)="playAudio($event)">
                            <ion-icon src="assets/icon/play.svg"></ion-icon>
                        </ion-segment-button>
                    </div>
                  </div>
            </ion-col>
            <ion-col>
                <div style="position: relative;" cdkDrag>
                    <div style="position: absolute; left: 0px; top: 0px;">
                        <ion-img src="assets/img/fonemas/game-panel/mama.png" class="imagen"></ion-img>
                    </div>
                    <div style="position: absolute; left: 0px; right: 120px; top: 126px;">
                        <ion-segment-button value="audio2" class="btnPlay" (click)="playAudio($event)">
                            <ion-icon src="assets/icon/play.svg"></ion-icon>
                        </ion-segment-button>
                    </div>
                  </div>              
            </ion-col>  
            <ion-col>
                <div style="position: relative;" cdkDrag>
                    <div style="position: absolute; left: 0px; top: 0px;">
                        <ion-img src="assets/img/fonemas/game-panel/mama.png" class="imagen"></ion-img>
                    </div>
                    <div style="position: absolute; left: 0px; right: 120px; top: 126px;">
                        <ion-segment-button value="audio3" class="btnPlay" (click)="playAudio($event)">
                            <ion-icon src="assets/icon/play.svg"></ion-icon>
                        </ion-segment-button>
                    </div>
                  </div>             
            </ion-col>                   
        </ion-row>
    </ion-grid>
</div>
