<div class="principal">
    <ion-grid class="grid">  
      <ion-row class="rowSilaba">
        <ion-col>
  
          <div cdkDropList #silabaAList="cdkDropList" [cdkDropListData]="silabaA"
          cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="[imagenesList]" 
          class="silaba" (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="validarSilabaA">
            <div class="element" *ngFor="let item of silabaA" cdkDrag [cdkDragData]="item">
              <ion-avatar class="imagen">
                <ion-img src="{{item.imagen}}"></ion-img>
              </ion-avatar>
            </div>
          </div>
  
        </ion-col>
        <ion-col>
  
          <div cdkDropList #silabaBList="cdkDropList" [cdkDropListData]="silabaB"
          cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="[imagenesList]" 
          class="silaba" (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="validarSilabaB">
            <div class="element" *ngFor="let item of silabaB" cdkDrag [cdkDragData]="item">
              <ion-avatar class="imagen">
                <ion-img src="{{item.imagen}}"></ion-img>
              </ion-avatar>
            </div>
          </div>
          
        </ion-col>
       
      </ion-row> 
      
      <ion-row class="ion-text-center">
        <ion-col>
          <div class="semantica">
            <ion-label class="textoSilaba">{{silabas[0].nombre}}</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="semantica">
            <ion-label class="textoSilaba">{{silabas[1].nombre}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="options">
        <ion-col>
  
          <div cdkDropList #imagenesList="cdkDropList" [cdkDropListData]="palabrasJuego"
          cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="[silabaAList,silabaBList]" 
          class="example-list" (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="noReturnPredicate">
            <div class="element" *ngFor="let palabra of palabrasJuego"  cdkDrag [cdkDragData]="palabra">
              <ion-avatar class="imagen">
                <ion-img src="{{palabra.imagen}}"></ion-img>
              </ion-avatar>
              
  
            </div>
          </div>
  
        </ion-col>
      </ion-row> 
  
  
    </ion-grid>
  </div>
  