<div class="principal">
  <ion-grid>
    <ion-row>
      <ion-label class="titulo">FONEMA</ion-label>
    </ion-row>
    <ion-row>
      <ion-label class="fonema">/ {{fonema}} /</ion-label>
    </ion-row>
    <ion-row class="videoFonema">
      <div>
        <div shape="round">
          <ion-img src={{imagen}} class="imagen"></ion-img>
        </div>
        <div style="position: absolute; left: 37px; top: 421px;">
          <ion-segment-button *ngIf="visibleVideo"  value="video" class="btnPlay" (click)="openPanel($event)">
            <ion-icon  src="assets/icon/play.svg"></ion-icon>
          </ion-segment-button>
          <ion-segment-button *ngIf="visibleAudio"  value="phoneme" class="btnPlay" (click)="openPanel($event)">
            <ion-icon src="assets/icon/audio.svg"></ion-icon>
          </ion-segment-button>          
        </div>
      </div>
    </ion-row>
    <ion-row>
      <ion-label class="mensaje">{{mensaje}}</ion-label>
    </ion-row>
  </ion-grid>
</div>
