<div class="principal">
  <ion-grid>
    <ion-row>
      <ion-col class="bar">
        <app-bar [fonema]="valueFonemaView" [mensaje]="videoData.mensaje"  (barEvent)="selectPanel($event)" ></app-bar>
      </ion-col>
      <ion-col class="panel">
        <app-phoneme-panel [fonema]="valueFonemaView" *ngIf="visiblePhoneme" [comando]="comandoFonema"></app-phoneme-panel>
        <app-video-panel [video]="videoData.video" *ngIf="visibleVideo"></app-video-panel>
      </ion-col>
    </ion-row>
    <ion-row class="navigation">
      <ion-col>
        <app-navigation></app-navigation>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
