<div class="principal">
  <div>
    <ion-grid>
      <ion-row class="component">
        <ion-col >
          <app-phoneme></app-phoneme>
        </ion-col>
      </ion-row>   
    </ion-grid>

    <div style="position: absolute; left: 0px; top: 0px;">
      <ion-img src="assets/svg/shapes/vocalForm.svg"></ion-img>
    </div>

    <div style="position: absolute; left: 1192px; top: 60px;">
      <ion-img src="assets/svg/shapes/aquaCircle.svg"></ion-img>
    </div>

    <div style="position: absolute; left: 40px; top: 555px;">
      <ion-img src="assets/svg/shapes/purpleCircle.svg"></ion-img>
    </div>
  </div>

</div>
