<div class="principal">
  <ion-grid justify-content-center>
    <ion-row>
      <ion-col >
        <ion-label class="tituloUsuario">{{usuario}}</ion-label>
        <ion-input [(ngModel)]="email" id="email" class="usuario" placeholder="correo electrónico" (ionInput)="setEmail($event)"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col >
        <ion-label class="tituloClave">{{clave}}</ion-label>
        <ion-input [(ngModel)]="password" id="password" class="clave" type="password" placeholder="su contraseña" (ionInput)="setPassword($event)"></ion-input>
      </ion-col>
    </ion-row> 

    <ion-row justify-content-center>
      <ion-col>
        <ion-button color="blappButton" class="btnLogin" (click)="loginFirebase()">{{comando}}</ion-button>
      </ion-col>
    </ion-row>

   
  </ion-grid>
</div>
