
@media screen and (min-width:1280px) and (orientation: landscape){  
    .principal{
        position: absolute;
        width: 554px;
        height: 264px;
        margin-left: 360px;
        margin-right: 360px;
        top: 318px;
        
        background: #7A84DD;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;    
    }    

    .tituloUsuario{
        //width: 100px;
        //height: 30px;    
        top: 16px;
        margin-left: 241px;
        margin-right: auto;
        //font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        //line-height: 30px; 

        color: #FFFFFF;    
    }   
    .tituloClave{
        //width: 121px;
        //height: 30px;  
        margin-left: 219px;
        margin-right: auto; 
    
        //font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        

        
        color: #FFFFFF;    
    }
    .usuario{
        width: 484px;
        height: 44px;
        left: 25px;
        right: 33px;    
        top: 4px;
        background: #FFFFFF;
        border-radius: 3px;    
    
    }
    .clave{
        width: 484px;
        height: 44px;
        left: 25px;
        right: 33px;
        top: 14px;
        background: #FFFFFF;
        border-radius: 3px;    
    
    }
    .btnLogin{
        position: absolute;
        width: 150px;
        height: 44px;
        left: 203px;
        right: 201px;
        top: 18px;
        bottom: 20px;
        
        background: #A9B0F0;
        border-radius: 6px;    
    } 

    //Estilos alert
    .my-custom-class {
        --background: #e5e5e5;
        text-align: center;
      }

    /* DOES NOT WORK - not specific enough */
    .alert-wrapper {
        background: #e5e5e5;
        text-align: center;
    }
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
    .my-custom-class .alert-wrapper {
        background: #e5e5e5;
        text-align: center;
        font-family: Poppins;
    }
    
}

