<div class="principal">
  <ion-grid class="grid">
      <ion-row class="row">
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToCategories('Imagen de mí mismo')">Imagen de<br>mi mismo</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToCategories('Partes del Cuerpo')">Partes del<br>cuerpo</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToCategories('Familia')">Familia</ion-segment-button>
          </ion-col>                        
      </ion-row>

      <ion-row class="row">
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToCategories('Alimentos')">Alimentos</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToCategories('Animales')">Animales</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToCategories('Juguetes')">Juguetes</ion-segment-button>
          </ion-col>                        
      </ion-row>  
      
      <ion-row class="row">
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToCategories('Prendas de Vestir')">Prendas de<br>vestir</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToCategories('Partes de la Casa')">Partes de<br>la casa</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToCategories('Medios de Transporte')">Medios<br>transporte</ion-segment-button>
          </ion-col>                        
      </ion-row> 

      <ion-row class="lastRow">
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToCategories('Servidores de la Comunidad')">Servidores de<br>la comunidad</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToCategories('Instrumentos Musicales')">Instrumentos<br>musicales</ion-segment-button>
          </ion-col>                     
      </ion-row>      
  </ion-grid>
</div>
