<div class="principal">
  <ion-grid class="grid">
      <ion-row class="row">
          <ion-col>
              <ion-segment-button value="imagen" class="phonemeButton" (click)="goToCategories($event)">Imagen de<br>mi mismo</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button value="cuerpo" class="phonemeButton" (click)="goToCategories($event)">Partes del<br>cuerpo</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button value="familia" class="phonemeButton" (click)="goToCategories($event)">Familia</ion-segment-button>
          </ion-col>                        
      </ion-row>

      <ion-row class="row">
          <ion-col>
              <ion-segment-button value="alimentos" class="phonemeButton" (click)="goToCategories($event)">Alimentos</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button value="animales" class="phonemeButton" (click)="goToCategories($event)">Animales</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button value="juguetes" class="phonemeButton" (click)="goToCategories($event)">Juguetes</ion-segment-button>
          </ion-col>                        
      </ion-row>  
      
      <ion-row class="row">
          <ion-col>
              <ion-segment-button value="ropa" class="phonemeButton" (click)="goToCategories($event)">Prendas de<br>vestir</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button value="casa" class="phonemeButton" (click)="goToCategories($event)">Partes de<br>la casa</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button value="transporte" class="phonemeButton" (click)="goToCategories($event)">Medios<br>transporte</ion-segment-button>
          </ion-col>                        
      </ion-row> 

      <ion-row class="lastRow">
          <ion-col>
              <ion-segment-button value=""  class="phonemeButton" (click)="goToCategories($event)">Servidores de<br>la comunidad</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button value="" class="phonemeButton" (click)="goToCategories($event)">Instrumentos<br>musicales</ion-segment-button>
          </ion-col>                     
      </ion-row>      
  </ion-grid>
</div>
