<div class="principal">
  <ion-grid class="grid">
    <ion-row class="row">
      <ion-col>
          <ion-segment-button value="a" class="phonemeButton" (click)="goToPhoneme($event)">Aa</ion-segment-button>
      </ion-col>
      <ion-col>
          <ion-segment-button value="e" class="phonemeButton" (click)="goToPhoneme($event)">Ee</ion-segment-button>
      </ion-col>
      <ion-col>
          <ion-segment-button value="o" class="phonemeButton" (click)="goToPhoneme($event)">Oo</ion-segment-button>
      </ion-col>                        
    </ion-row>
    <ion-row class="rowDebiles">
      <ion-col>
          <ion-segment-button value="i" class="phonemeButton" (click)="goToPhoneme($event)">Ii</ion-segment-button>
      </ion-col>
      <ion-col>
          <ion-segment-button value="u" class="phonemeButton" (click)="goToPhoneme($event)">Uu</ion-segment-button>
      </ion-col>
                       
    </ion-row>    

  </ion-grid>
</div>
