<div class="principal">
  <ion-grid>
    <ion-row>
      <ion-col class="fuertes">
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Aa</ion-button>
        </ion-col>
        <ion-col class="centro">
          <ion-button class="btnVocal" text-lg-capitalize="true">Ee</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Oo</ion-button>
        </ion-col>
      </ion-col>    
    </ion-row>   
    <ion-row>
      <ion-col class="debiles">
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Ii</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Uu</ion-button>
        </ion-col> 
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
