<div class="principal">
  <ion-grid >
    <ion-row>
      <ion-col>
        <ion-segment-button class="btnBack" (click)='back($event)'>
          <ion-icon class="backIcon"></ion-icon>
        </ion-segment-button>
      </ion-col>
      <ion-col >
        <ion-segment-button class="btnHome" (click)="goToHome($event)">
          <ion-icon class="homeIcon"></ion-icon>
        </ion-segment-button>
      </ion-col>
      
      <ion-col >
        <ion-segment-button class="btnForward" (click)="forward($event)">
          <ion-icon class="forwardIcon"></ion-icon>
        </ion-segment-button>
      </ion-col>      
    </ion-row>
  </ion-grid>
</div>
