.principal{
    width: 818px;
    height: 624px; 
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.btnVocal{
    width: 176px;
    height: 85px;
    border-radius: 20px;  
}
.centro{
    margin-left: 54px;
    margin-right: 54px;
}
.filas{
    margin-left: 58px;
    margin-right: 58px;
    //top: 218px;
}