<div class="principal">
  <ion-grid>

    <ion-row class="filas">
      <ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Pp</ion-button>
        </ion-col>
        <ion-col class="centro">
          <ion-button class="btnVocal" text-lg-capitalize="true">Mm</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Bb</ion-button>
        </ion-col>
      </ion-col>    
    </ion-row>

    <ion-row class="filas">
      <ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Dd</ion-button>
        </ion-col>
        <ion-col class="centro">
          <ion-button class="btnVocal" text-lg-capitalize="true">Td</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Gg</ion-button>
        </ion-col>
      </ion-col>    
    </ion-row>   

    <ion-row class="filas">
      <ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Cc Kk Qq</ion-button>
        </ion-col>
        <ion-col class="centro">
          <ion-button class="btnVocal" text-lg-capitalize="true">Ff</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Ch</ion-button>
        </ion-col>
      </ion-col>    
    </ion-row> 

    <ion-row class="filas">
      <ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Jj</ion-button>
        </ion-col>
        <ion-col class="centro">
          <ion-button class="btnVocal" text-lg-capitalize="true">Ss</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Nn</ion-button>
        </ion-col>
      </ion-col>    
    </ion-row>  
 
    <ion-row class="filas">
      <ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Nñ</ion-button>
        </ion-col>
        <ion-col class="centro">
          <ion-button class="btnVocal" text-lg-capitalize="true">Ll</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Ll Yy</ion-button>
        </ion-col>
      </ion-col>    
    </ion-row> 
    
    <ion-row class="filas">
      <ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Rr</ion-button>
        </ion-col>
        <ion-col class="centro">
          <ion-button class="btnVocal" text-lg-capitalize="true"> Rrrr</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btnVocal" text-lg-capitalize="true">Xx</ion-button>
        </ion-col>
      </ion-col>    
    </ion-row>     

  </ion-grid>
</div>
