<div class="principal">
    <ion-grid class="grid">
        <ion-row class="row">
            <ion-col>
                <ion-segment-button value="p" class="phonemeButton" (click)="goToPhoneme($event)">Pp</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="m" class="phonemeButton" (click)="goToPhoneme($event)">Mm</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="b" class="phonemeButton" (click)="goToPhoneme($event)">Bb</ion-segment-button>
            </ion-col>                        
        </ion-row>

        <ion-row class="row">
            <ion-col>
                <ion-segment-button value="d" class="phonemeButton" (click)="goToPhoneme($event)">Dd</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="t" class="phonemeButton" (click)="goToPhoneme($event)">Tt</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="g" class="phonemeButton" (click)="goToPhoneme($event)">Gg</ion-segment-button>
            </ion-col>                        
        </ion-row>  
        
        <ion-row class="row">
            <ion-col>
                <ion-segment-button value="Cc Kk Qq" class="phonemeButton" (click)="goToPhoneme($event)">Cc Kk Qq</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="f" class="phonemeButton" (click)="goToPhoneme($event)">Ff</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="ch" class="phonemeButton" (click)="goToPhoneme($event)">Ch ch</ion-segment-button>
            </ion-col>                        
        </ion-row> 

        <ion-row class="row">
            <ion-col>
                <ion-segment-button value="j" class="phonemeButton" (click)="goToPhoneme($event)">Jj</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="s" class="phonemeButton" (click)="goToPhoneme($event)">Ss</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="n" class="phonemeButton" (click)="goToPhoneme($event)">Nn</ion-segment-button>
            </ion-col>                        
        </ion-row>   

        <ion-row class="row">
            <ion-col>
                <ion-segment-button value="ñ" class="phonemeButton" (click)="goToPhoneme($event)">Ññ</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="l" class="phonemeButton" (click)="goToPhoneme($event)">Ll</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="LLll Yy" class="phonemeButton" (click)="goToPhoneme($event)">LLll Yy</ion-segment-button>
            </ion-col>                        
        </ion-row>
        
        <ion-row class="row">
            <ion-col>
                <ion-segment-button value="r" class="phonemeButton" (click)="goToPhoneme($event)">Rr</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="rr" class="phonemeButton" (click)="goToPhoneme($event)">RR rr</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="x" class="phonemeButton" (click)="goToPhoneme($event)">Xx</ion-segment-button>
            </ion-col>                        
        </ion-row>        
    </ion-grid>
</div>