<div class="principal">
    <ion-grid class="grid">
        <ion-row class="row">
            <ion-col>
                <ion-segment-button value="Pp" class="phonemeButton" (click)="goToPhoneme($event)">Pp</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="Mm" class="phonemeButton" (click)="goToPhoneme($event)">Mm</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="Bb" class="phonemeButton" (click)="goToPhoneme($event)">Bb</ion-segment-button>
            </ion-col>                        
        </ion-row>

        <ion-row class="row">
            <ion-col>
                <ion-segment-button value="Dd" class="phonemeButton" (click)="goToPhoneme($event)">Dd</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="Tt" class="phonemeButton" (click)="goToPhoneme($event)">Tt</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="Gg" class="phonemeButton" (click)="goToPhoneme($event)">Gg</ion-segment-button>
            </ion-col>                        
        </ion-row>  
        
        <ion-row class="row">
            <ion-col>
                <ion-segment-button value="Cc Kk Qq" class="phonemeButton" (click)="goToPhoneme($event)">Cc Kk Qq</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="Ff" class="phonemeButton" (click)="goToPhoneme($event)">Ff</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="Ch ch" class="phonemeButton" (click)="goToPhoneme($event)">Ch ch</ion-segment-button>
            </ion-col>                        
        </ion-row> 

        <ion-row class="row">
            <ion-col>
                <ion-segment-button value="Jj" class="phonemeButton" (click)="goToPhoneme($event)">Jj</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="Ss" class="phonemeButton" (click)="goToPhoneme($event)">Ss</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="Nn" class="phonemeButton" (click)="goToPhoneme($event)">Nn</ion-segment-button>
            </ion-col>                        
        </ion-row>   

        <ion-row class="row">
            <ion-col>
                <ion-segment-button value="Ññ" class="phonemeButton" (click)="goToPhoneme($event)">Ññ</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="Ll" class="phonemeButton" (click)="goToPhoneme($event)">Ll</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="LLll Yy" class="phonemeButton" (click)="goToPhoneme($event)">LLll Yy</ion-segment-button>
            </ion-col>                        
        </ion-row>
        
        <ion-row class="row">
            <ion-col>
                <ion-segment-button value="Rr" class="phonemeButton" (click)="goToPhoneme($event)">Rr</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="RR rr" class="phonemeButton" (click)="goToPhoneme($event)">RR rr</ion-segment-button>
            </ion-col>
            <ion-col>
                <ion-segment-button value="Xx" class="phonemeButton" (click)="goToPhoneme($event)">Xx</ion-segment-button>
            </ion-col>                        
        </ion-row>        
    </ion-grid>
</div>