<div class="principal">
  <div>
    <ion-grid>
      <ion-row class="component">
        <ion-col>
          <app-menu-panel [tipo]="tipoUsuario"></app-menu-panel>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="position: absolute; left: 1055px; top: 0px;"> 
      <ion-img src="assets/svg/shapes/menuCircle.svg"></ion-img>
    </div>
    <div style="position: absolute; left: 201; top: 589px;"> 
      <ion-img src="assets/svg/shapes/menuForm.svg"></ion-img>
    </div>
  </div>
</div>
