<div class="principal">
    <ion-grid class="grid">
      <ion-row style="margin-top: 48px;">
        <ion-col>
          <ion-label class="label">{{nombre}}</ion-label>
          <ion-input class="input"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 28px;">
        <ion-col>
          <ion-label class="label">{{edad}}</ion-label>
          <ion-input class="input"></ion-input>
        </ion-col>
      </ion-row>   
      <ion-row style="margin-top: 28px;">
        <ion-col>
          <ion-label class="label">{{genero}}</ion-label>
          <ion-input class="input"></ion-input>
        </ion-col>
      </ion-row>  
      <ion-row style="margin-top: 28px;">
        <ion-col>
          <ion-label class="label">{{residencia}}</ion-label>
          <ion-input class="input"></ion-input>
        </ion-col>
      </ion-row>  
      <ion-row style="margin-top: 28px;">
        <ion-col>
          <ion-label class="label">{{encargado}}</ion-label>
          <ion-input class="input"></ion-input>
        </ion-col>
      </ion-row> 
      <ion-row>
        <ion-col>
          <ion-button color="formButton" shape="round" class="btnGuardar" >{{comando}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
