@media screen and (min-width:800px){
    .principal{
        width: 715px;
        height: 664px; 
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;   
     } 
     .icon{
        width: 56px;
        height: 45px;
    }  
    .titulo{
        top: 81px;
        margin-left:119px;
        margin-right: 120px;
        width: 476px;
        height: 164px;
        text-align: center;   
    } 
    .texto{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 52px;
        text-align: center;
         
         color: #5F659C;    
     }  
     .opciones{
        top: 140px;
        margin-left: 91px;
        margin-right: 91px;
        text-align: center;

    }  
    .opcionFonema{
     
        width: 150px;
        height: 150px;
        background: url('../../../../assets/svg/menu-panel/fonemas.svg');
        background-size: 150px 150px;
        background-position: center;
        text-align: center;
        left: 40px;
        right: auto;
    }  
    .opcionSemantica{
        width: 150px;
        height: 150px;
        background: url('../../../../assets/svg/menu-panel/semanticas.svg');
        background-size: 150px 150px;
        background-position: center;
        text-align: center;
        left: auto;
        right: 47px;
    } 
    .opcionEstudiantes{
         width: 150px;
         height: 150px;
        background: url('../../../../assets/svg/menu-panel/estudiantes.svg');
        background-size: 150px 150px;
        background-position: center;
        text-align: center;
        left: 40px;
        right: auto;
    }   
    .textoOpcion{
        width: 365px;
        height: 45px;
        left: auto;
        right: auto;
        top: 621px;
        
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 45px;

        
        /* identical to box height */
        
        color: #5F659C;    
    } 
    .rowTexto{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .btnLogout{
        position: absolute;
        left: 142px;
        top: 137px;    
    }            
}
@media screen and (min-width:1280px){
    .principal{
        width: 1144px;
        height: 664px; 
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;   
     }
     .icon{
         width: 56px;
         height: 45px;
     }
     .titulo{
         top: 81px;
         margin-left:334px;
         margin-right: 334px;
         width: 476px;
         height: 164px;
         text-align: center;   
     }
     .texto{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 52px;
        text-align: center;
         
         color: #5F659C;    
     }
     
     .opciones{
         top: 140px;
     }
    
     .opcionFonema{
         width: 230px;
         height: 230px;
         background: url('../../../../assets/svg/menu-panel/fonemas.svg');
     }
     
     .opcionSemantica{
         left: 50px;
         width: 230px;
         height: 230px;
         background: url('../../../../assets/svg/menu-panel/semanticas.svg');
     }
     
    
     .opcionEstudiantes{
        // left: 40px;
        width: 230px;
        height: 230px;
        background: url('../../../../assets/svg/menu-panel/estudiantes.svg');
    }
    
    
     .textoOpcion{
         width: 365px;
         height: 45px;
         //left: 317px;
         top: 621px;
         
         font-family: Poppins;
         font-style: normal;
         font-weight: bold;
         font-size: 30px;
         line-height: 45px;
         text-align: center;
         
         /* identical to box height */
         
         color: #5F659C;    
     }
     
     .btnLogout{
         position: absolute;
         left: 142px;
         top: 137px;    
     }
}


