<div class="principal">
  <ion-grid>
    <ion-row class="rowSilaba">
        <ion-col>
          <ion-segment-button fill="round" class="silaba" (click)="playAudioS(0)">{{dataSPhonemeConsonant[0].nombre}}</ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button fill="round"  class="silaba" (click)="playAudioS(1)">{{dataSPhonemeConsonant[1].nombre}}</ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button fill="round"  class="silaba" (click)="playAudioS(2)">{{dataSPhonemeConsonant[2].nombre}}</ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button fill="round"  class="silaba" (click)="playAudioS(3)">{{dataSPhonemeConsonant[3].nombre}}</ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button fill="round"  class="silaba" (click)="playAudioS(4)">{{dataSPhonemeConsonant[4].nombre}}</ion-segment-button>
        </ion-col> 
    </ion-row>
    <ion-row class="audioFonema">
      <div>
        <div>
          <ion-img src={{oneDataPhonemeConsonant.imagen}}  class="imagen"></ion-img>
        </div>

        <div style="position: absolute; left: 227px; top: 346px;">
          <ion-segment-button class="btnPlay" (click)="playRecord()">
            <ion-icon src="assets/icon/play.svg"></ion-icon>
          </ion-segment-button>
        </div>
      </div>    
    </ion-row>
    <ion-row>
      <ion-label class="palabra">{{oneDataPhonemeConsonant.nombre}}</ion-label>
    </ion-row>
  </ion-grid>
</div>
