<div class="principal">
    <ion-grid>
  
      <ion-row>
        <ion-col>
          <ion-button fill="clear" class="icon">
            <ion-img src="assets/icon/logout.svg"></ion-img>
          </ion-button>
        </ion-col>
      </ion-row>
  
      <ion-row class="titulo">
        <ion-col>
          <ion-label class="texto">{{titulo}}</ion-label>
        </ion-col>
      </ion-row>
  
      <ion-row class="opciones">
        <ion-segment (ionChange)="selectTheme($event)">
          <div> 
            <ion-segment-button value="fonemas" class="opcionFonema">
            </ion-segment-button>
            <ion-label class="textoOpcion">{{opcion1}}</ion-label>
          
          </div>
  
          <div>
            <ion-segment-button value="semanticas" class="opcionSemantica">
            </ion-segment-button>
            <ion-label class="textoOpcion">{{opcion2}}</ion-label>
          </div> 

          <div>
            <ion-segment-button value="estudiantes" class="opcionEstudiantes">
            </ion-segment-button>
            <ion-label class="textoOpcion">{{opcion3}}</ion-label>
          </div>           
        </ion-segment>
      </ion-row>
    </ion-grid>
  </div>
