.label{
    width: 90px; 
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #5F659C;
}
.input{
    width: 225px;
    height: 29px;
    background: #ECEEFD;    
}
.item{
    width: 317px;
}