.principal{
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/svg/background/categoriesView.svg');
    background-size: 100%;
}
.component{
    width: 1142px;
    height: 624px;
    margin-top: 48px;
    margin-left:70px;
    margin-right: 68px;
}