<div class="principal">
  <ion-grid class="grid">
    <ion-row class="row">
      <ion-col>
          <ion-segment-button class="phonemeButton" (click)="goToPhoneme('a')">Aa</ion-segment-button>
      </ion-col>
      <ion-col>
          <ion-segment-button class="phonemeButton" (click)="goToPhoneme('e')">Ee</ion-segment-button>
      </ion-col>
      <ion-col>
          <ion-segment-button class="phonemeButton" (click)="goToPhoneme('o')">Oo</ion-segment-button>
      </ion-col>                        
    </ion-row>
    <ion-row class="rowDebiles">
      <ion-col>
          <ion-segment-button class="phonemeButton" (click)="goToPhoneme('i')">Ii</ion-segment-button>
      </ion-col>
      <ion-col>
          <ion-segment-button class="phonemeButton" (click)="goToPhoneme('u')">Uu</ion-segment-button>
      </ion-col>
                       
    </ion-row>    

  </ion-grid>
</div>
