<div class="principal">
  <ion-grid>
    <ion-row class="audioFonema">   
      <div>
        <div>
          <ion-img id="imagen" src={{phonemeOneData.imagen}} class="imagen"></ion-img>
        </div>

        <div style="position: absolute; left: 227px; top: 346px;">
          <ion-segment-button class="btnPlay" (click)="audio.play()">
            <ion-icon src="assets/icon/play.svg"></ion-icon>
          </ion-segment-button>
        </div>
      </div>    
    </ion-row>
    <ion-row>
      <ion-label class="palabra">{{phonemeOneData.nombre}}</ion-label>
    </ion-row>
  </ion-grid>
</div>

