<div class="principal">
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-button fill="clear" class="icon" (click)="logout()">
          <ion-img src="assets/icon/logout.svg"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="titulo">
      <ion-col>
        <ion-label class="texto">¡Hola {{authenticationService.getUserDetails().nombre}}!<br>¿Qué aprenderemos hoy?</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="opciones">
      <ion-col>
          <ion-segment-button value="fonemas" class="opcionFonema">
          </ion-segment-button>
          <ion-label class="textoOpcion">{{opcion1}}</ion-label>
      </ion-col>
      <ion-col>
          <ion-segment-button value="semanticas" class="opcionSemantica">
          </ion-segment-button>
          <ion-label class="textoOpcion">{{opcion2}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
