<div class="principal">
    <ion-grid>
        <ion-row>
          <ion-col class="bar">
            <app-categories-bar [category]="category" (subcategoryEmit)="changeSubcategory($event)" ></app-categories-bar>
          </ion-col>
          <ion-col class="panel">
            <app-categories-view-panel [subcategoryOneData]="subcategory.data[indexData]"></app-categories-view-panel>
          </ion-col>
        </ion-row>
        <ion-row class="navigation">
          <ion-col>
            <app-categories-navigation (forwardEmit)="incIndexData()" (backEmit)="decIndexData()"></app-categories-navigation>
          </ion-col>
        </ion-row>
      </ion-grid>
</div>