.principal{
    width: 818px;
    height: 624px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;    
}
.trayectoria{
    margin-left: auto;
    margin-right: auto;
    width: 532px;
    height: 97.18px;
}
.grid{
    margin-top: 57px;
    left: 56px;
}
.sujeto{
    width: 230px;
    height: 230px;
    margin-left: auto;
    background: url('../../../../assets/svg/semantics/semantics-game-panel/black.svg');
    background-size: auto;
}
.verbo{
    width: 161px;
    height: 161px;
    margin-top: 34px;
    margin-left: 42px;
    margin-right: 43px;
    background: url('../../../../assets/svg/semantics/semantics-game-panel/red.svg');
    background-size: auto;    
}
.predicado{
    width: 230px;
    height: 230px;
    margin-right: auto;
    background: url('../../../../assets/svg/semantics/semantics-game-panel/green.svg');
    background-size: auto;    
}
.element{
    margin-left: auto;
    margin-right: auto;
    width: 176px;
    height: 176px;
    background: url('../../../../assets/svg/semantics/semantics-game-panel/element.svg');
    background-size: auto;    
}
.options{
    margin-top: 32px;
}
.palabras{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 52px; 
    /* identical to box height */
    text-align: center;
    
    color: #3C3C3C;    
}
.semantica{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.imagenPredicado{
    width: 230px;
    height: 230px;
    border: 5px solid #8ACF60;
    
}


.imagenSujeto{
    width: 230px;
    height: 230px;
    border: 5px solid #3C3C3C;
    
}
.example-box {
    width: 161px;
    height: 161px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 100px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }