
    .grid{
        position: absolute;
        width: 1142px;
        height: 624px;
    }
    .principal{
        width: 1142px;
        height: 624px;
    }
    .panel{
        left: 22px;
        width: 818px;
        height: 624px;
    }
    .bar{
        width: 302px;
        height: 623px;    
    }
    .navigation{
        margin-top: 16px;  
        height: 57px; 
        width: 1145px;  
    }   

