<div class="principal">
  <ion-grid>
    <ion-row>
      <ion-col class="bar">
        <app-phoneme-bar titulo="FONEMAS" comando1="VOCALES" comando2="CONSONANTES" comando3="JUGAR" (phonemeBarEvent)="selectPanel($event)" ></app-phoneme-bar>
      </ion-col>
      <ion-col class="panel">
        <app-vocal-panel *ngIf="visibleVocal"></app-vocal-panel>
        <app-consonant-panel *ngIf="visibleConsonant"></app-consonant-panel> 
        <app-phoneme-game-panel *ngIf="visibleGame"></app-phoneme-game-panel>
      </ion-col>
    </ion-row>
    <ion-row class="navigation">
      <ion-col>
        <app-navigation></app-navigation>
      </ion-col>
    </ion-row>    
  </ion-grid>
</div>
