.principal{
    height: 210px;
    width: 250px;
    overflow-y: scroll;   
}
.principal::-webkit-scrollbar {
    display: none;
}
.label{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    
    color: #5F659C;    
}