<div class="principal">
  <ion-grid class="grid">  
    <ion-row>
      <ion-col>
        <div class="sujeto">
          <div>
            
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="verbo">
          <div>

          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="predicado">
          <div>
          </div>
        </div>
      </ion-col>
    </ion-row> 

    <ion-row>
      <ion-col>
        <div class="semantica">
          <ion-label class="palabras">sujeto</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div class="semantica">
          <ion-label class="palabras">verbo</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div class="semantica">
          <ion-label class="palabras">predicado</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="options">
      <ion-col>
        <div class="element">
          <div>
            
          </div>
        </div>        
      </ion-col>
      <ion-col>
        <div class="element">
          <div></div>
        </div>  
      </ion-col>
      <ion-col>
        <div class="element">
          <div></div>
        </div>  
      </ion-col>
    </ion-row> 

  </ion-grid>
</div>
