<div class="principal">
  <ion-grid class="grid">  
    <ion-row>
      <ion-col>
        <div class="sujeto">
          <div>
            
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="verbo">
          <div>

          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="predicado">
          <div>
          </div>
        </div>
      </ion-col>
    </ion-row> 

    <ion-row>
      <ion-col>
        <div class="semantica">
          <ion-label class="palabras">{{sujeto}}</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div class="semantica">
          <ion-label class="palabras">{{verbo}}</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div class="semantica">
          <ion-label class="palabras">{{predicado}}</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="options">
      <ion-col>
        <div class="element" cdkDrop>
          <ion-avatar class="imagen" cdkDrag>
            <ion-img src={{imagen1}}></ion-img>
          </ion-avatar>
        </div>        
      </ion-col>
      <ion-col>
        <div class="element" cdkDrop>
          <ion-avatar class="imagen" cdkDrag>
            <ion-img src={{imagen2}}></ion-img>
          </ion-avatar>
        </div>  
      </ion-col>
      <ion-col>
        <div class="element" cdkDrop>
          <ion-avatar class="imagen" cdkDrag>
            <ion-img src={{imagen3}}></ion-img>
          </ion-avatar>
        </div>  
      </ion-col>
    </ion-row> 

  </ion-grid>
</div>
