@media (orientation:landscape){
    .principal{
        width:  100vw;
        height: 100vh;
        background: url('../../../assets/svg/background/login.svg');
        background-size: cover;
    }      

    .logo{
        position: absolute;
        max-width: 19.140625vw;
        max-height: 18.125vh;
        min-width: 19.140625vw;
        min-height: 18.125vh;
        left: 42.890625vw;
        right: 42.96875vw;
        top: 76px;   
    }    
   

    .loginComponent{
        top: 20px;
        left: 28.25vw;
        right: 28,59375vw;
    }
    .titulo{
        position: absolute;
        max-width: 17.890625vw;
        max-height: 5.625vh;
        min-width: 17.890625vw;
        min-height: 5.625vh;
        margin-left: 41.09375vw;
        margin-right: 41.015625vw;
        top: 253px;    
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 2.34375vw;
        //line-height: 45px;
        
        /* identical to box height */
        
        color: #5F659C;    
    }

    .reset{
        max-width: 17.890625vw;
        max-height: 5.625vh;
        min-width: 17.890625vw;
        min-height: 5.625vh;
        margin-top: 80vh;
        margin-left: 40.78125vw;
        margin-right: 40.859375vw;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 1,5625vw;
        line-height: 25px;
        text-align: center;
        color: #5F659C;    
    }

}

    
    
    
 