@media screen and(min-width:1280px) and(orientation:landscape){
    .principal{
        width: 100%;
        height: 100%;
        background: url('../../../assets/svg/background/login.svg');
        background-size: 100%;
    }      

    .logo{
        position: absolute;
        max-width: 181px;
        max-height: 147px;
        min-width: 181px;
        min-height: 147px;
        left: 549px;
        right: 550px;
        top: 76px;   
    }    
   

    .loginComponent{
        top: 20px;
        left: 360px;
        right: 366px;
    }
    .titulo{
        position: absolute;
        max-width: 229px;
        max-height: 45px;
        min-width: 229px;
        min-height: 45px;
        margin-left: 526px;
        margin-right: 525px;
        top: 253px;    
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 45px;
        
        /* identical to box height */
        
        color: #5F659C;    
    }
}

    
    
    
 