<div class="principal">
  <ion-grid class="grid">
      <ion-row class="row">
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('p')">Pp</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('m')">Mm</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('b')">Bb</ion-segment-button>
          </ion-col>                        
      </ion-row>

      <ion-row class="row">
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('d')">Dd</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('t')">Tt</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('g')">Gg</ion-segment-button>
          </ion-col>                        
      </ion-row>  
      
      <ion-row class="row">
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('ckq')">Cc Kk Qq</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('f')">Ff</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('ch')">Ch ch</ion-segment-button>
          </ion-col>                        
      </ion-row> 

      <ion-row class="row">
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('j')">Jj</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('s')">Ss</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('n')">Nn</ion-segment-button>
          </ion-col>                        
      </ion-row>   

      <ion-row class="row">
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('ñ')">Ññ</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('l')">Ll</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('LLll Yy')">LLll Yy</ion-segment-button>
          </ion-col>                        
      </ion-row>
      
      <ion-row class="row">
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('r')">Rr</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('rr')">RR rr</ion-segment-button>
          </ion-col>
          <ion-col>
              <ion-segment-button class="phonemeButton" (click)="goToPhonemeGame('x')">Xx</ion-segment-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</div>

